@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f0703;
}
.card {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.card:hover {
  width: 600px;
  transition-delay: 0.5s;
}
.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .circle::before {
  content: "";
  position: absolute;
  top: 30;
  left: 2;
  right: 2;
  width: 470px;
  height: 470px;
  border-radius: 50%;
  background: #0f0703;
  border: 8px solid var(--clr);
  filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 60px var(--clr));
  transition: 0.5s, background 0.5s;
  transition-delay: 0.75s, 1s;
}
.card:hover .circle::before {
  transition-delay: 0.5s;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: var(--clr);
}
.card .circle .logo {
  position: relative;
  width: 250px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.card:hover .circle .logo {
  transform: scale(0);
  transition-delay: 0s;
}
.card .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(315deg);
  height: 300px;
  transition: 0.5s ease-in-out;
}
.card:hover .product_img {
  transition-delay: 0.75s;
  top: 55%;
  left: 20%;
  height: 320px;
  transform: translate(-50%, -50%) scale(1) rotate(15deg);
}
.card .content {
  position: absolute;
  width: 60%;
  left: 10%;
  padding: 20px 20px 20px 20px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}
.card:hover .content {
      transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
    left: 40%;
    text-align: right;
    margin-top: 15px;
}
.card .content h2 {
  color: #8d7036;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.3em;
}
.card .content p {
  color: #0f0703;
}
.card .content a {
  position: relative;
  color: #fff;
  background: #0f0703;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin-top: 15px;
}
@media screen and (max-width: 786px) {
  .card:hover .product_img{
        left: 30%;
    height: 235px;
  }
}
@media screen and (max-width: 575px) {
  .card:hover {
    width: 500px;
    transition-delay: 0.5s;
  }
  .card .circle::before{
    width: 280px;
    height: 280px;
  }
  .card:hover .product_img{
    display: none;
  }
  .card:hover .content{
        width: 100%;
    text-align: center;
    left: 0;
    right: 0;
  }
  .card .content h2{
    font-size: 1.6em;
  }
}
